@{
    ViewData["Title"] = "Create / Edit produt";
}

@model newmvc.Models.ViewModels.ProductViewModel

<form asp-action="CreateProduct" method="post" enctype="multipart/form-data">

<label>Name</label>
<input type="text" asp-for="Name" placeholder="Name" required/>

<label>Price</label>
<input type="number" asp-for="Price" step=100 placeholder="Price"/>

<label>Description</label>
<input type="text-area" asp-for="Description" placeholder="Description" />

<label>Image</label>
<input type="file" asp-for="ImageFile" placeholder="Image" />

<label for="Submit">Submit</label>
<input type="submit"/>
</form>